<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="SystemSuite" verbose="1">


	<test name="System" >
 		<!-- <groups>
			<run>
				<include name="smoke" />
			</run>
		</groups>  -->
		
		 <classes>
		    <class name="tests.AddProductToCardTest" />

		</classes> 

	    <packages>
			<package name="tests" />
		</packages> 
	</test>
</suite>